@import '../../styles/variables.scss';

.services {
    &__item {
        display: flex;
        margin-bottom: 30px;
        border-bottom: 2px solid $color-accent;
        padding: 20px 0;
        align-items: center;
        &:last-child {
            border-bottom: none;
        }
    }
    &__img {
        flex: 1;
    }
    &__content {
        flex: 3;
    }
}
