@import '../../styles/variables.scss';

.title {
	text-align: center;
}

.reviews {
	&__item {
		display: flex;
		margin-bottom: 30px;
		border-bottom: 2px solid $color-accent;
		&:last-child {
			border-bottom: none;
		}
		@media (max-width: $breakpoint-mobile) {
			flex-direction: column;
			text-align: center;
		}
	}
	&__left {
		flex: 1;
		text-align: center;
	}
	&__right {
		flex: 3;
	}
	&__company-name {
		font-weight: 700;
	}
}
