@import '../../../styles/variables.scss';

.title {
	text-align: center;
}

.intro {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	&__left {
		margin-right: 50px;
	}
	@media (max-width: $breakpoint-mobile) {
		flex-direction: column;
		&__left {
			margin-right: 0;
		}
	}
}

.desc {
	margin-bottom: 100px;
	&__img {
		width: 250px;
		float: right;
	}
	@media (max-width: $breakpoint-mobile) {
		margin-bottom: 0;
	}
}
