@import '../../styles/variables.scss';

.button {
    padding: 10px 60px;
    border-radius: 30px;
    background-color: $color-accent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    color: $color-1;
    &:hover {
        border: 1px solid $color-accent;
        background-color: transparent;
        color: $color-2;
    }
}
