@import '../../styles/variables.scss';

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
}

@media screen and (max-width: $breakpoint-desktop) {
    .container {
        max-width: 768px;
    }
}
