@import '../../styles/variables.scss';

.textarea {
    background-color: $color-5;
    border: 1px solid $color-6;
    border-radius: 30px;
    padding: 10px;
    border-radius: 20px;
    display: block;
    width: 100%;
    transition: all 0.3s ease-in-out;
    outline: none;
    resize: none;
    &:hover,
    &:focus {
        border-color: $color-accent;
    }
}
