@import '../styles/variables.scss';

.header {
    position: fixed;
    width: 100%;
    padding: 5px 0;
    border-bottom: 4px solid $color-accent;
    background-color: $color-1;
    z-index: 10;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.main {
    padding-top: 70px;
}

.logo {
    display: flex;
    align-items: center;
    flex: 1;
    &__text {
        padding-left: 10px;
        font-size: 20px;
    }
    &__img {
        cursor: pointer;
        width: 39px;
        height: 57px;
    }
}

.list {
    list-style-type: none;
    display: flex;
    &__item {
        font-size: 18px;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &_active {
            color: $color-accent;
        }
        &:hover {
            color: $color-accent;
        }
    }
    margin-right: 10px;
}

.contacts {
    display: flex;
    flex-direction: column;
    &__link {
        color: $color-2;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: $color-accent;
        }
    }
}

.footer {
    padding: 10px;
    background-color: $color-3;
}
