$color-accent: #ffb515;
$success: green;
$error: red;
$color-1: #fff;
$color-2: #000;
$color-3: #d3d3d3;
$color-4: #f8f8f8;
$color-5: #e5e5e5;
$color-6: #d6d6d6;

$breakpoint-desktop: 1200;
$breakpoint-laptop: 992;
